.Register-textfield {
  border-radius: 8px;
  margin: 10px;
}

.Register-button {
  background-color: #008cba;
  border: none;
  color: white;
  margin: 30px;
  padding: 12px 30px;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.Register-button:hover {
  background-color: white;
  color: #008cba;
  border: 5px solid #008cba;
}
